.page-header

  .btn-toolbar.pull-right
    .btn-group
      = link_to new_project_category_path(@project), class: 'btn btn-success' do
        %i.icon-folder-close.icon-white
        New Category
    .btn-group
      = link_to project_path(@project), class: 'btn btn-primary' do
        %i.icon-search.icon-white
        Show Project

  = title(@project.display_name)


- unless @project.root_categories.blank?
  %ul.nav.nav-tabs.nav-stacked.sortable.accordion
    = render partial: 'categories/edit_category', collection: @project.root_categories, as: :category, locals: { current_category: @current_category }
