.page-header

  -#.btn-group.pull-right
  -#  %a.btn.btn-primary{ href: new_project_path }
  -#    %i.icon-folder-close.icon-white
  -#    New Project

  = title('Projects')

%ul.thumbnails
  = render @projects
= paginate @projects
