.page-header

  -#.btn-group.pull-right
  -#  %a.btn.btn-primary{ href: new_project_path }
  -#    %i.icon-folder-close.icon-white
  -#    New Project

  = title(@project.display_name)

-#= render @project.categories

.category
  .name
    %h2 Category 1
  .body
    .category
      .name
        %h3 Sub Category 1
      .body
        .feature
          .name
            %strong Create User
          .description
            .blockquote
              %p In order to assign people to projects
              %p As an administrator
              %p I want to create a new user
          .body.well
            TODO
    .category
      .name
        %h3 Sub Category 2
      .body
        TODO
