= content_for(:javascript) { render 'show.js' }

.page-header

  .btn-toolbar.pull-right
    .btn-group
      = link_to edit_project_path(@project), class: 'btn btn-primary' do
        %i.icon-edit.icon-white
        Edit Project

  = title(@project.display_name)

.btn-toolbar.pull-right

  .btn-group.resource-filter
    %button.btn.active{ name: 'everything' }
      %i.icon-folder-close
      %i.icon-file
      %i.icon-list
      Scenarios
    %button.btn{ name: 'features' }
      %i.icon-folder-close
      %i.icon-file
      Features
    %button.btn{ name: 'categories' }
      %i.icon-folder-close
      Categories

  .btn-group.content-filter
    %button.btn.active{ name: 'all' }
      %i.icon-plus
      %i.icon-plus
      %i.icon-plus
      Background
    %button.btn{ name: 'description' }
      %i.icon-plus
      %i.icon-plus
      Description
    %button.btn{ name: 'names' }
      %i.icon-plus
      Names

= render @project.root_categories
