.page-header

  .btn-toolbar.pull-right
    .btn-group
      = link_to edit_project_path(@project), class: 'btn btn-primary' do
        %i.icon-edit.icon-white
        Edit Project

  = title(@project.display_name)

= render @project.categories
