.main
  margin-top: 50px

.navbar.navbar-fixed-top
  .btn-toolbar
    margin: 0



ul.sortable
  margin: 0
  li
    margin-bottom: 1px
    &.ui-state-highlight
      background-color: #eee
      border: 1px dotted black
      visibility: visible !important

    ul.sortable
      margin-top: 2px
      margin-left: 2em

  .btn-group
    &.pull-right
      margin-top: 6px
      margin-left: 10px

  .btn.btn-link.handle.pull-right
    margin-top: 4px
