= leveled_block(category.level) do
  .category[category]
    .title
      = leveled_title(category.name, category.level + 2)
    .body
      .features
        -#.title
        -#  %h4 Features
        .body
          = render category.features.order(:position)
      .children= render category.ordered_children
